* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #050816;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #b8c1ff;
}
